/* InstructorDashboard.css */
button {
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}

/* Create Button */
.create-button {
  background-color: #1f2d3d; 
  color: white;
}

/* Hover effect for Create button */
.create-button:hover {
  background-color: #27ae60; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Delete Button */
.delete-button {
  background-color: #1f2d3d; 
  color: white;
}

/* Hover effect for Delete button  */
.delete-button:hover {
  background-color: #ff1900; 
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Input styling */
input[type="text"] {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #00ff22; 
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.4); 
  outline: none;
}

/* Students Table Styling */
.students-table,
.group-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px; 
  margin-bottom: 40px; 
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05); 
  overflow: hidden;
  background-color: white;
}

.students-table th, .students-table td ,
.group-table th, .group-table td {
  padding: 20px;
  text-align: center; 
  border-bottom: 1px solid #eee; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.students-table th, .group-table th {
  background: linear-gradient(90deg, #1f2d3d, #2c3e50); 
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.students-table td {
  padding-right: 20px;
  background-color: #f9f9f9;
  font-size: 16px;
}

.students-table tr:nth-child(even),
.group-table tr:nth-child(even) {
  background-color: #f4f4f4;
}

.students-table tr:hover ,
.group-table tr:hover {
  background-color: #e0f7fa;
  cursor: pointer;
  color: #2980b9;
}

.students-table th:first-child {
  border-top-left-radius: 12px;
}

.students-table th:last-child {
  border-top-right-radius: 12px;
}

.students-table td:first-child {
  border-bottom-left-radius: 12px;
}

.students-table td:last-child {
  border-bottom-right-radius: 12px;
}

/* Responsive design for smaller screens */
/* @media (max-width: 768px) {
  .students-table, .students-table thead, .students-table tbody, .students-table th, .students-table td, .students-table tr {
      display: block;
      width: 100%;
  }

  .students-table tr {
      margin-bottom: 15px;
  }

  .students-table th {
      background-color: #1f2d3d;
      padding: 14px;
      font-size: 16px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }

  .students-table td {
      padding: 14px;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
  }
} */

/* Typography for headers */
h1, h2 {
  font-weight: 600; 
  color: #2c3e50;
  text-align: center; 
  margin-bottom: 30px; 
}

h1 {
  font-size: 36px; 
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 15px;
  color: #34495e;
}

h2 {
  font-size: 28px;
  color: #34495e;
  margin-bottom: 40px; 
}

.delete-button {
  background-color: #ff4c4c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff1a1a;
}


/* 
Group overview  */

/* Add some padding and center align */
/* .group-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
} */

/* .group-table th, .group-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
} */

/* .group-table th {
  background: linear-gradient(90deg, #1f2d3d, #2c3e50);
  color: #fff
} */

/* .group-table tr:nth-child(even) {
  background-color: #f9f9f9;
} */

/* .group-table tr:hover {
  background-color: #f1f1f1;
<<<<<<< HEAD
} */
=======
} */
>>>>>>> fe6a03ac9ac69f2fb392c399244dba956c6145c0
