.headerspacing{
    margin-top: 30px;
    /* border: 1px solid #f70c0c; */
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin: 0 auto; /* Center the container */
    padding-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px; /* Space below the label */
}

select {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

/* result.css */

.table-container {
    overflow-x: auto; /* Allows horizontal scrolling if the table is too wide */
    margin: 20px 0; /* Adds some spacing above and below the table */
}

.result-table {
    width: 80%; /* Set the width to 80% of the container */
    margin: 0 auto; /* Center the table */
    border-collapse: collapse; /* Merge table borders */
    font-family: Arial, sans-serif; /* Set a font for the table */
}

.result-table th, .result-table td {
    border: 1px solid #ddd; /* Add border to table cells */
    padding: 8px; /* Add padding inside cells */
    text-align: center; /* Center the text */
}

.result-table th {
    background-color: #f2f2f2; /* Light gray background for header */
    color: #333; /* Darker text color for header */
}

.result-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

.result-table tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}