/* StudentDashboard.css */

/* Styling the team name heading */
.text-position{
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #34495e;
  text-align: center; 
}

/* Styling for the table */
.team-table , .group-table-student{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  border-radius: 12px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05); 
  overflow: hidden;
  background-color: white;
}

/* Table headers */
.team-table th,
.team-table td ,
.group-table-student th, 
.group-table-student td{
  padding: 20px; 
  text-align: center; 
  border: 1px solid #4682B4;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.team-table th, .group-table-student th {
  background: linear-gradient(90deg, #1f2d3d, #4682B4); 
  color: #fff; 
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase; 
  letter-spacing: 0.5px;
}

.team-table td {
  background-color: #f9f9f9; 
  font-size: 16px;
  padding-right: 20px;
}

.team-table tr:nth-child(even) ,
.group-table-student tr:nth-child(even) {
  background-color: #f4f4f4; 
}

.team-table tr:hover , .group-table-student tr:hover ,.group-table-student tr:hover {
  background-color: #e0f7fa; 
  cursor: pointer;
  color: #2980b9; 
}

p{
  font-size: 18px;
  color: #666;
}

.evaluate-button{
  background-color: #1f2d3d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

.evaluate-button:hover {
  background-color: #27ae60;
  transform: translateY(-2px);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

@media (max-width: 768px) {

  .evaluate-button {
    width: 80%;
    margin-bottom: 10px;
}

.button-container {
  flex-direction: column;
  align-items: center;
}

}


/* Rounded corners for first and last cells
.team-table th:first-child {
  border-top-left-radius: 12px;
}

.team-table th:last-child {
  border-top-right-radius: 12px;
}

.team-table td:first-child {
  border-bottom-left-radius: 12px;
}

.team-table td:last-child {
  border-bottom-right-radius: 12px;
} */


/* Responsive design for smaller screens */
/*@media (max-width: 768px) {
  .team-table, .team-table thead, .team-table tbody, .team-table th, .team-table td, .team-table tr {
    display: block;
    width: 100%;
  }

  .team-table tr {
    margin-bottom: 15px;
  }

  .team-table th {
    background-color: #1f2d3d;
    padding: 14px;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .team-table td {
    padding: 14px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
} */

/* Styling the container */
/* div {
  padding: 20px;
  font-family: Arial, sans-serif;
} */